body {
	margin: 0;
}

.header {
	padding: 10px;
	background-color: #3d3d82;
	color: #ffffff;
	font-size:1em;
}

.header h1 {
	display: inline;
	font-weight:normal;
	font-size:3em;
}

.userStatus {
	float:right;
}

.userStatus a {
	text-decoration: none;
	color: #ffffff;
}

.content {
	margin: 10px;
}

.nameListContainer {
	display: inline-block;
}

.nameList {
	margin: 0.25em 0 0.25em 0;
	display: block;
	padding-left: 0;
	list-style: none;
}

.nameListItem {
	margin: 0 5px 5px 0;
	padding: 3px;
	list-style: none;
	line-height: 1em;
	float: left;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	background: #3d3d82;
	color: #ffffff;
}

.nameListItemRemove {
	margin-left:.5em;
	text-decoration: none;
	color: #ffffff;
}